{% include 'functions.html' %}

<script>
  cy.on('tap', 'node', function(event){
    cy.remove(cy.nodes().difference(event.target));

    if(event.target.hasClass('gene')){
      addNeighbors(event.target, 'gene');
    }
    else if(event.target.hasClass('chemical')){
      addNeighbors(event.target, 'chemical');
    }
    else if(event.target.hasClass('side_effect')){
      addNeighbors(event.target, 'side_effect');
    }
    else{
      console.log("The node you pressed does not have the main 3 classes [gene, chem, sideeffect]")
    }
  });
</script>