<script>
  function updateSideBar(type, text_data){
    let list_node = document.createElement("LI");
    list_node.appendChild(document.createTextNode(text_data));
    
    if(type == 'chemical')
      document.getElementById('chem_list').appendChild(list_node);
    if(type == 'gene')
      document.getElementById('gene_list').appendChild(list_node);
    if(type == 'side_effect')
      document.getElementById('se_list').appendChild(list_node);
  }

  function clearSideBar(type){
    if(type == 'chemical')
      document.getElementById('chem_list').innerHTML="";
    else if(type == "gene")
      document.getElementById('gene_list').innerHTML="";
    else if(type == "side_effect")
      document.getElementById('se_list').innerHTML="";
    else
      console.log("Error when clearing sidebar");
  }

  function addChemical(query_name){
    /*
    Searchs for a chemical in the database based on the query_name,adds it 
    to the cytoscape core and returns the object
    */

    let CID = null
    $.ajax({
      async: false,
      url: 'api/chemical/' + query_name,
      success: function(data){
        if(data.length != 0){
          cy.remove(cy.nodes()) //Delete all nodes
          cy.add({
            group: 'nodes',
            data: {
              id: data['CID']
            },
            classes: 'chemical'
          })
          CID = data['CID']
        }
      }
    });

    return cy.getElementById(CID)
  } //End of addChemical(query_name)

  function addGene(query_name){
    let HGNC = null
    $.ajax({
      async: false,
      url: 'api/gene/' + query_name,
      success: function(data){
        if(data.length != 0){
          cy.remove(cy.nodes()) //Delete all nodes
          cy.add({
            group: 'nodes',
            data: {
                id: data['HGNC']
            },
            classes: 'gene'
          })
          CID = data['HGNC']
        }
      }
    });
    return cy.getElementById(HGNC)
  }

  function addSideEffect(query_name){
    let UMLS_CUI = null
    $.ajax({
      async: false,
      url: 'api/side_effect/' + query_name,
      success: function(data){
        if(data.length != 0){
          cy.remove(cy.nodes()) //Delete all nodes
          cy.add({
            group: 'nodes',
            data: {
                id: data['UMLS_CUI']
            },
            classes: "side_effect"
          })
          UMLS_CUI = data['UMLS_CUI']
        }
      }
    });

    return cy.getElementById(UMLS_CUI)
  }

  function searchNode(query_name, type){
    if (type == "chem"){
      let node = addChemical(query_name);
      addNeighbors(node, 'chemical');
    }
    else if(type == "gene"){
      let node = addGene(query_name);
      addNeighbors(node, 'gene')
    }
    else if(type == "side_effect"){
      let node = addSideEffect(query_name);
      addNeighbors(node, 'side_effect')
    }
    else{
      console.log('invalid top layer search')
    }
  }

  function topLevelSearch(type){
    let query_name = document.getElementById("top_level_search").value;

    searchNode(query_name, type)   
  } //End of topLevelSearch(type)

  function addNeighboringChemicals(node, type){
    if(type == "gene"){
      $.ajax({
        url: 'api/associated_chemicals/gene/'+node.id(),
        success: function(data){
          for(i in data){
            //Add to side bar
            updateSideBar('chemical', data[i][0])

            //Add to cytoscape core
            cy.add([
              {
                group: 'nodes',
                data:{id: data[i][0], InChIKey: data[i][1], total_se: data[i][2], total_gene: data[i][3]},
                classes: 'chemical'
              },
              {
                group: 'edges',
                data: {id: node.id() + '->' + data[i][0], target: data[i][0], source: node.id()}
              }
            ]);
          } 
        } 
      }); 
    }

    else if(type == "side_effect"){
      $.ajax({
        url: 'api/associated_chemicals/side_effect/'+node.id(),
        success: function(data){
          for(i in data){
            
            updateSideBar('chemical', data[i][0])

            cy.add([
              {
                group: 'nodes',
                data:{id: data[i][0], InChIKey: data[i][1], total_se: data[i][2], total_gene: data[i][3]},
                classes: 'chemical'
              },
              {
                group: 'edges',
                data: {id: node.id() + '->' + data[i][0], target: data[i][0], source: node.id()}
              }
            ]);
          }
        } 
      }); 
    }
  } // End of addNeighboringChem(node, type)

  function addNeighboringSE(node, type){
    /*
    Adds all neighboring side effects to the node and its edges.
    */
    if(type == 'chem'){
      $.ajax({
        url: 'api/associated_side_effects/chemical/'+node.id(),
        success: function(data){
          for(i in data){
            
            updateSideBar('side_effect', data[i]['name']);

            cy.add([
              {
                group:'nodes',
                data: {id: data[i]["UMLS_CUI"], name: data[i]['name'], total_chem: data[i]['total_associated_chemicals'], total_gene: data[i]['total_associated_genes'] },
                classes: 'side_effect',
              },
              {
                group: 'edges',
                data: {id: node.id() +'->'+ data[i]['UMLS_CUI'] , target: data[i]['UMLS_CUI'], source: node.id()},
              }
            ]);
          };
        } 
      }); 
    }

    else if(type == "gene"){
      $.ajax({
        url: 'api/associated_side_effects/gene/'+node.id(),
        success: function(data){
          for(i in data){

            updateSideBar('side_effect', data[i]['name'])

            cy.add([
              {
                group:'nodes',
                data: {id: data[i]['UMLS_CUI'], name: data[i]['name'], total_chem: data[i]['total_associated_chemicals'], total_gene: data[i]['total_associated_genes'] },
                classes: 'side_effect',
              },
              {
                group: 'edges',
                data: {id: node.id() +'->'+ data[i]['UMLS_CUI'] , target: data[i]['UMLS_CUI'], source: node.id()}
              }
            ]);
          };
        } 
      });
    }
  } // End of addNeighboringSE(node, type)

  function addNeighboringGenes(node, type){
    /*
    Adds all the neighboring gene nodes and edges for the specified node.
    The node is one of three types, chem, gene or side effect.
    */
    if(type == "chem"){
      $.ajax({
        url: 'api/associated_genes/chemical/'+node.id(),
        success: function(data){
          for(i in data){

            updateSideBar('gene', data[i][1])

            cy.add([
              {
                group:'nodes',
                data: {id: data[i][0], symbol: data[i][1], chromosome: data[i][3], total_se: data[i][4], total_chem: data[i][5]}, 
                classes: 'gene',
              },
              {
                group: 'edges',
                data: {id: node.id() +'->'+ data[i][0] , target: data[i][0], source: node.id(), weight:parseInt(Math.random()*30)},
              }
            ]);
          } 
        }
      });
    }
    else if(type == "side_effect"){
      $.ajax({
        url: 'api/associated_genes/side_effect/'+node.id(),
        success: function(data){
          for(i in data){

            updateSideBar('gene', data[i][1]);

            //Adding to cytoscape core
            cy.add([
              {
                group:'nodes',
                data: {id: data[i][0], symbol: data[i][1], chromosome: data[i][3], total_se: data[i][4], total_chem: data[i][5]}, 
                classes: 'gene',
              },
              {
                group: 'edges',
                data: {id: node.id() +'->'+ data[i][0] , target: data[i][0], source: node.id()},
                style: {'visibility' : 'hidden'}
              }
            ]);
          };
        } 
      }); 
    }
  }

  function addNeighbors(node, type){
    /*
    Given a node and its type, it adds all of its neighboring nodes and edges
    */
    
    clearSideBar('side_effect');
    clearSideBar('gene');
    clearSideBar('chemical');

    if(type == 'chemical'){
      addNeighboringSE(node, 'chem');
      addNeighboringGenes(node, 'chem');
    }
    else if(type == 'gene'){
      addNeighboringSE(node, 'gene');
      addNeighboringChemicals(node, 'gene');
    }
    else if(type == "side_effect"){
      addNeighboringChemicals(node, 'side_effect');
      addNeighboringGenes(node, 'side_effect');
    }   
  }   //End of addNeighbors(node,type)


  function searchBox(){
    let filter_var = document.getElementById("search_filter").value;
    console.log(filter_var);
    if(filter_var == 'invalid'){
      console.log("invalid filter for the search box");
      return;
    }
    let query = document.getElementById('search_box').value
    if( filter_var == "chem"){
      searchNode(query, 'chemical');
    }
    else if(filter_var == "gene"){
      searchNode(query, 'gene');
    }
    else if(filter_var == "se"){
      searchNode(query, 'side_effect');
    }
    else{
      console.log("error with the searchBox");
    }
  }
    
</script>