<!DOCTYPE html>
<html>
<head>
  <title> Data Visualization</title>

  <!-- LINKS -->
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.3.0.min.js"></script>
    {% include 'bootstrap_link.html' %}
    <script src={% static 'visual/cytoscape.js-master/dist/cytoscape.min.js' %}></script>
  <!-- Panzoom -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src={% static 'visual/cytoscape.js-panzoom-master/cytoscape-panzoom.js' %}></script>
    <link rel="stylesheet" type="text/css" href={% static 'visual/cytoscape.js-panzoom-master/cytoscape.js-panzoom.css' %}/>
  <!-- QTIP -->
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.js"></script>
  <script src={% static 'visual/cytoscape.js-qtip-master/cytoscape-qtip.js' %}></script>


    <style type="text/css">
        #cy{
            background-color: rgb(190, 228, 233);
            border-radius: 10px;
            height: 500px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, .25)
        }
        hr{
          border-color: black;
        }
    </style>
</head>

<!-- Functions -->
  <script > 
    function getChemicalData(){
      /*
      Gets a JSON response that contains all the chemicals inside the database.
      Each chemical contains it's CID, InChiKey, total side effects, and total genes, respectively.
      */
      $.ajax({
        url: "{% url 'chemical_list' %}" ,
        method: 'GET',
        dataType: 'json',

        success: function(chem_list){
          console.log("Successfully retrieved API CHEM LIST")
          cy.startBatch();
          for(let i in chem_list){
            cy.add({
              group: 'nodes',
              data:{
                id: chem_list[i][0], //CID
                InChIKey: chem_list[i][1],
                total_effects: chem_list[i][2],
                total_genes: chem_list[i][3],
              },
              classes: 'chemical'
            });
          };
          cy.endBatch();
          
          cy.layout({name:'random'}).run();
        } //End of ajax success function
      });
    }

    function drugSearch(){
      /*
      When searching by CID, cytoscape will attempt to find the chemical and surround it
      with all of it's associated side effects and genes.
      */
      let node = cy.getElementById(document.getElementById('search_box').value);
      let cid = node.id()

      if(cid == undefined){
        console.log("Cannot find node.");
        return;
      }
      console.log("Searching for "+ node.id());

      cy.remove(node.absoluteComplement()) //Delete all other nodes if they exist

      // //Save inital position of the node (cause layout.run() will cause it to shift)
      // let init_x = node.position()['x'];
      // let init_y = node.position()['y'];


      //Adding all the associated side effects
      $.ajax({
        url: 'api/side_effects/'+node.id(), //I need a way to call this without hardcoding it.
        success: function(data){
          for(i in data){
            cy.add([
              {
                group:'nodes',
                data: {id: data[i][1], name: data[i][0] }, //data:{id: cui, name: side-effect-name}
                classes: 'side_effect',
              },
              {
                group: 'edges',
                data: {id: node.id() +'->'+ data[i][1] , target: data[i][1], source: node.id()},
              }
            ]);
          };//End of for loop
          node.closedNeighborhood().layout({name:'concentric', animate:true}).run();

        //Shifting the the neighborhood to the original position of node
        // let curr_x = node.position()['x'];
        // let curr_y = node.position()['y'];

        // let x_shift = init_x - curr_x;
        // let y_shift = init_y - curr_y;

        // node_neighbors.shift({
        //   x: x_shift,
        //   y: y_shift
        // });

        cy.fit(node.closedNeighborhood());
        // cy.zoom({
        //   level: 5.5,
        //   position: {
        //     x: node.position()['x'],
        //     y: node.position()['y']
        //   }
        // });

        } //End of success function
      }); //End of side_effect ajax call

      //Adding all the associated genes
      $.ajax({
        url: 'api/genes/'+node.id(),
        success: function(data){
          for(i in data){
            cy.add([
              {
                group:'nodes',
                data: {id: data[i][0], symbol: data[i][1], chromosome: data[i][3], total_se: data[i][4], total_chem: data[i][5]}, 
                classes: 'gene',
              },
              {
                group: 'edges',
                data: {id: node.id() +'->'+ data[i][0] , target: data[i][0], source: node.id()},
              }
            ]);
            let gene_neighborhood = node.union(cy.nodes('.gene'));
            gene_neighborhood.layout({name:'concentric'}).run()
        } //End of success function
      }
    }); //End of gene ajax call
  } //End of searchNode function
      
  </script>


<body style="background-color:rgb(243, 243, 243)">
  <div class = "container">
      <h2> [Drug/Side-Effect/Gene]  Visualization</h2>
      <button class="btn btn-primary" onclick = "getChemicalData()">Retrieve Data</button>
      <button class="btn btn-default" onclick="cy.layout({name:'random', animate:true}).run()">Random Layout</button>
      <button class="btn btn-default" onclick="cy.layout({name:'grid', animate:true}).run()">Grid Layout</button>
      <!-- <button onclick="console.log(cy.zoom())">Zoom Level</button> -->

      <hr>

      <div class="row">
        <!-- Left Side Bar -->
          <div class="rounded col-sm-2 col-md-2" style="background-color:#ccc; border-radius: 10px;box-shadow: 0px 2px 5px rgba(0, 0, 0, .25)">
              <div class="col-sm-12 col-md-12">
              <h3>Node Search</h3>
              <hr>
              <input type="text" id="search_box" placeholder="Search..." style="width: 95%"></br>
              <button onclick="drugSearch()">Submit</button>
              <hr>
              <h5>Filter</h5> 
              <input id="cid_checkbox" type="checkbox"> CID</br>
              <input id="gene_checkbox" type="checkbox"> Gene Symbol</br>
              <input id="se_checkbox" type="checkbox"> Side Effect</br>
              <hr>
              <button class="btn btn-info btn-block" style="border-radius: 0" onclick="cy.reset()">Reset View</button>
              <hr>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iste quibusdam maiores ab hic ex, porro minus!</p>
              </div>
          </div>

        <!-- Cytoscape Canvas -->
          <div class="cy col-sm-10 col-md-10">
            <div id="cy" class="cy col-sm-12 col-md-12"></div>
          </div>
      </div>
  </div>


  <!-- Bulk Cytoscape Code -->
  <script >
    //Cytoscape Initalization
    var cy = cytoscape({
      container: document.getElementById('cy'),
      style: [
        {
          selector: 'node.chemical',
          style:{
            'background-color': '#00A',
            'shape': 'ellipse',
            'width': 3,
            'height': 3,
          },
        },
        {
          selector: 'node.side_effect',
          style:{
            'background-color': '#0A0',
            'shape': 'diamond',
            'width': 2,
            'height': 2
          },
        },
        {
          selector: 'node.gene',
          style:{
            'background-color': '#A00',
            'shape': 'triangle',
            'width': 2,
            'height': 2,
          }
        },
        {
          selector: 'edge',
          style:{
            width: 0.5,
            'line-color' : 'black',
            'target-arrow-color': 'black',
            'target-arrow-shape': 'triangle',
            'arrow-scale': 0.5,
            'curve-style': 'bezier'
          }
        }
      ],
      
      minZoom: 0.8,
      maxZoom: 20,
      hideEdgesOnViewport: true,
      textureOnViewport: true,
        
    }); //End of cyto initalization

    //Cytoscape Extensions--------
    cy.panzoom();
  

    //Cytoscape Events-------

    //QTIP events
    cy.on('add', 'node.chemical', function(event){
      event.target.qtip({
        content: {
          title: function(){return("[Drug]</br>CID: "+ this.id())},
          text: function(){
            let str_rep = "";
            str_rep += "InChIKey: "+ this.data("InChIKey")+ "</br>";
            str_rep += "Total Side Effects: "+ this.data('total_effects') + "</br>"
            str_rep += "Total Assoc. Genes: "+ this.data('total_genes');
            return str_rep
          },
        },
        position:{
          at: 'top-right',
          my: 'bottom-center'
        },
        show:{
          event: 'mouseover'
        },
        hide:{
          event: 'mouseout unfocus', 
        },
        style:{
          classes: 'qtip-tipsy qtip-shadow qtip-rounded '
        }
      });
    });

    cy.on('add', 'node.side_effect', function(event){
      event.target.qtip({
        content: {
          title: function(){return("[Side Effect]</br>UMLS CUI: "+ this.id())},
          text: function(){
            return 'Effect: [' + this.data('name') + ']'
          },
        },
        position:{
          at: 'top-right',
          my: 'bottom-center'
        },
        show:{
          event: 'mouseover'
        },
        hide:{
          event: 'mouseout unfocus', //unfocus
        },
        style:{
          classes: 'qtip-tipsy qtip-shadow qtip-rounded '
        }
      });
    });

    cy.on('add', 'node.gene', function(event){
      event.target.qtip({
        content: {
          title: function(){return("[Gene]</br>Symbol: " + this.data('symbol'))},
          text: function(){
            return  "HGNC: "+ this.id() + "</br>Chromosome: " + this.data('chromosome');
          },
        },
        position:{
          at: 'top-right',
          my: 'bottom-center'
        },
        show:{
          event: 'mouseover'
        },
        hide:{
          event: 'mouseout unfocus', //unfocus
        },
        style:{
          classes: 'qtip-tipsy qtip-shadow qtip-rounded '
        }
      });
    });

  </script>

</body>
</html>