<!DOCTYPE html>
<html>
<head>
  <title> Drug Data Visualization</title>

  <!-- LINKS -->
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.3.0.min.js"></script>
    {% include 'bootstrap_link.html' %}
    <script src={% static 'visual/cytoscape.js-master/dist/cytoscape.min.js' %}></script>
  <!-- Panzoom -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src={% static 'visual/cytoscape.js-panzoom-master/cytoscape-panzoom.js' %}></script>
    <link rel="stylesheet" type="text/css" href={% static 'visual/cytoscape.js-panzoom-master/cytoscape.js-panzoom.css' %}/>
  <!-- QTIP -->
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.js"></script>
  <script src={% static 'visual/cytoscape.js-qtip-master/cytoscape-qtip.js' %}></script>


    <style type="text/css">
        #cy{
            background-color: rgb(190, 228, 233);
            border-radius: 10px;
            height: 500px
        }
    </style>
</head>

<!-- Functions -->
  <script > 
    function getChemicalData(){
      $.ajax({
        url: "{% url 'chemical_list' %}" ,
        success: function(chem_list){
          console.log("Successfully retrieved API CHEM LIST")
          cy.startBatch();
          for(let i in chem_list){
            cy.add({
              group: 'nodes',
              data:{
                id: chem_list[i][0],
                InChIKey: chem_list[i][1],
                SMILES: chem_list[i][2] 
              },
              classes: 'chemical'
            });
          }
          cy.endBatch();
          cy.layout({name:'random'}).run();
        } //End of ajax success function
      });
    }

    function searchNode(){
      let query = document.getElementById('search_box').value;
      let node = cy.getElementById(query);
      let init_x = node.position()['x'];
      let init_y = node.position()['y'];
      console.log("init pos: "+ init_x+","+init_y)

      let node_neighbors = node.closedNeighborhood();
      node_neighbors.style({"background-color":"#00F"});
      node_neighbors.layout({name:"concentric"}).run();

      let curr_x = node.position()['x'];
      let curr_y = node.position()['y'];

      let x_shift = init_x - curr_x;
      console.log("init x: "+init_x);
      console.log("final x: "+curr_x);
      let y_shift = init_y - curr_y;

      console.log("x shift: "+x_shift),
      console.log("y shift: "+y_shift)

      cy.startBatch();
      node_neighbors.shift({
        x: x_shift,
        y: y_shift
      });
  
      cy.center(node);
      cy.zoom({
        level: 5.5,
        position: {
          x: node.position()['x'],
          y: node.position()['y']
        }
      });
      cy.endBatch();
      
    }

    function get_index_elements(){
      let list = [];
      for (let i=0; i<500000; i+=10000){
        list.push({
          group: 'nodes',
          data:{
            id: i.toString() + "-" + (i+9999).toString(),
            start: i
          },
          classes: "index"
        })
      }
      list.push({
        group: 'nodes',
        data:{
          id: '500000' + "+",
          start: 500000
        },
        classes: "index"
      })
      return list;
    }
  </script>


<body style="background-color:rgb(243, 243, 243)">
  <div class = "container">
      <h2>Drug Data Visualization</h2>
      <button class="btn btn-info" onclick = "getChemicalData()">Retrieve Data</button>
      <button class="btn btn-default" onclick="cy.layout({name:'random', animate:true}).run()">Random Layout</button>
      <button class="btn btn-default" onclick="cy.layout({name:'grid', animate:true}).run()">Grid Layout</button>
      <button class="btn btn-default" onclick="cy.layout({name:'circle'}).run()">Circle</button>
      <button onclick="console.log(cy.zoom())">Zoom Level</button>

      <hr style="border-color: black">

      <div class="row">
        <!-- Left Side Bar -->
          <div class="rounded col-sm-2 col-md-2" style="background-color:#ccc; border-radius: 10px">
              <div class="col-sm-12 col-md-12">
              <h3>Node Search</h3>
              <hr style="border-color: black">
              <input type="text" id="search_box" placeholder="Search..." style="width: 95%"></br>
              <button onclick="searchNode()">Submit</button>
              <hr style="border-color: black">
              <button class="btn btn-default" onclick="cy.reset()">Camera</button>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil iste quibusdam maiores ab hic ex, porro minus. Obcaecati cupiditate maiores esse, incidunt adipisci!</p>
              </div>
          </div>

        <!-- Cytoscape Canvas -->
          <div class="cy col-sm-10 col-md-10">
            <div id="cy" class="cy col-sm-12 col-md-12"></div>
          </div>
      </div>
  </div>


  <!-- Bulk Cytoscape Code -->
  <script >
    //Cytoscape Initalization
    var cy = cytoscape({
      container: document.getElementById('cy'),
      // elements: get_index_elements(),
      style: [
        {
          selector: 'node.chemical',
          style:{
            'background-color': '#333',
            'shape': 'ellipse',
            'width': 2,
            'height': 2,
          },
        },
        {
          selector: 'node.side_effect',
          style:{
            'background-color': '#333',
            'shape': 'ellipse',
            'width': 1,
            'height': 1
          },
        },
        {
          selector: 'node.index',
          style:{
            'background-color': '#333',
            'shape': 'star',
            'width': 5,
            'height': 5,
          },
        },
        {
          selector: 'edge',
          style:{
            width: 1,
            visibility: 'hidden'
          }
        }
      ],
      
      minZoom: 0.8,
      maxZoom: 20,
      hideEdgesOnViewport: true,
      textureOnViewport: true,
      pixelRatio: 1
        
    }); //End of cyto initalization
    cy.panzoom();

    //Cytoscape Events
    cy.on('mouseover', 'node', function(event){
      let target_node = event.target;

      let neighbors = target_node.closedNeighborhood();
      let node_neighbors = neighbors.filter('node');
      node_neighbors.style({
        'background-color' : "#D00"
      });
      let edge_neighbors = neighbors.filter('edge');
      edge_neighbors.style({
        'line-color': "#900"
      });
    });
    
    cy.on('mouseout', 'node', function(event){
      let target_node = event.target;

      let neighbors = target_node.closedNeighborhood()

      let node_neighbors = neighbors.filter('node');
      node_neighbors.style({
        'background-color' : "#333"
      });
      let edge_neighbors = neighbors.filter('edge');
      edge_neighbors.style({
        'line-color': "#AAA"
      });
    });

    cy.on('tap', 'node', function(event){
      console.log(event.target.id());
      console.log(event.target.position());
      console.log(event.target.data());
      // cy.center(event.target);
      // cy.zoom(10);

    });

    cy.on('mouseover', 'node', function(event){
      event.target.qtip({content:'api'});
    });


    // cy.on('zoom',function(event){
    //   let zoom_threshold = 4;
    //   if(cy.zoom() >= zoom_threshold){
    //     cy.nodes('.side_effect').style({visibility:"visible"});
    //   }
    //   else{
    //     cy.nodes('.side_effect').style({visibility:"hidden"});
    //   }
    // });
  
  </script>

</body>
</html>